/* reset style start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23.5px 0;

}
.nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #575757;
}
.nav-button{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    background-color: #1D4ED8;
    border: none;
    border-radius: 10px;
    padding: 12px 41.5px;
}
.banner-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/banner.jpg");
  padding: 136px 0px 79px 0px;
}

.banner-box {
  max-width: 959px;
  margin: auto;
}

.banner-container h1 {
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.banner-container span {
  font-style: italic;
}

.banner-container p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 278px;
}

.btn-primary {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  background-color: #1d4ed8;
  border: none;
  border-radius: 10px;
  padding: 12px 41.5px;
  cursor: pointer;
  display: block;
  margin: auto;
}